@charset "utf-8";
html {width:100%;height:100%;margin:0}
body {position:relative;font-size:14px;font-family:"dotum";color:#515151;margin:0; padding:0;width:100%; height: 100%; }
h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,input,select,textarea,p,th,td,dt,dd,dl,p,figure {margin:0;padding:0;}
h1,h3,h4,h5,h6 {font-size:14px;}
h2{	font-size:50px;	}
li {list-style-type:none;}
img,fieldset {border:0;}
em {font-style:normal;}
input.radio {width:13px; height:13px; vertical-align:middle;}
a {text-decoration:none; color:#ffffff; }
/* a:hover {color:#06bbf7;} */
address,em,i {font-style:normal;}
.hdn, legend{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}
table caption.hdn{font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0;}
table { border-spacing: 0; border-collapse:collapse; }
caption, legend { display: none; }
button {border:0;cursor:pointer;background:none;}
input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel] {
    font-size: 16px;
    vertical-align: middle;
    padding: 0 15px;
    height: 50px;
    border: 1px solid #ddd;
    width: 500px;
    box-sizing: border-box;
    transition: box-shadow .3s, border-color .3s;
}

/*  skipnavi */
#skilNavi a.skipBtn {display:block; height:0; width:100%; position:absolute; text-align:center; top:0; left:0; overflow:hidden;}
#skilNavi a.skipBtn:focus, #skilNavi a.skipBtn:active  {display:block; position:relative; color:white; font-weight:bold; height:20px; background:black;}


/*======= 초기화 코드 끝 ==========*/

#header{
    width: 1200px;
    height: 100px;
    margin: 0 auto; /*가운데 배치*/

}
#header .logo{
    float: left;
    padding-top: 10px; 
}
#header .gnb{
    float: right;
}
#header .gnb li {
    display: inline-block;
    padding: 34px 20px;
    color: #ffffff;   
}
#header .gnb li a:hover {
 color:#06bbf7;
 }
  
.slider {
    background-image: url(images/Main.png); 
    background-repeat: no-repeat;
    height: 500px;  
}
.slider .sl-txt {
    color:#ffffff;
    font-size: 25px;
    text-align: center;
    padding-top: 100px; 
    font-family: 'Nanum Pen Script', cursive;   
}
.main_search {
    position: relative;
    width: 500px;
    margin-left: 35%;
  }
  
input {
    vertical-align:middle;
    width: 100%;
    height:60px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 16px;
    margin-bottom:5px;
   }  
.main_search .tag {	
     border: 1px solid black;
     padding: 5px 10px;
     border-radius: 20px;     
     background:black;
     font-size:15px;
     float:left;
     margin:2px;
}
.search2 {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }
.content {
    width: 1200px;    
    height:410px;
    background:white;  
    margin-left:25%; 
}
.item-wrap{    
    width: 500px;    
    float:left;
 }
.m_title {
 	padding: 20px; 
 	text-align:left;
 }
.content .item-wrap .wrap  {
    display: grid;
     grid-template-columns: 150px 150px 150px;/* 각 그리드 아이템 너비 지정해서 수평 정렬 px로 지정 시 너비가 고정*/
    /*grid-template-columns: 1fr 1fr 1fr; 화면 비율에 따라 크기 변화*/
     gap: 10px; /*그리드 사이 여백 주기*/
     grid-template-rows: 150px 150px; /*그리드 아이템의 높이*/
}
.wrap img {	
    width: 100%; height: 100%; /*img 다 채우기*/
    padding: 0 auto;
     }
.wrap span {
    position: relative; /*요소 자기 자신을 기준으로 배치 */
}

.wrap .fir, .sec, .thi, .for, .fif, .six {
    position: absolute; /*부모요소를 기준으로 배치*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90,0,10,0.4);

           
    /* typographic styles */
    color: white;
    font-size: 1.5em;
     font-weight: bold; 
    text-decoration: none;
    
    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;
   

    /* hide the title by default */
  	opacity: 0;  /*기본상태*/
  	transition: opacity .5s; 
}
 
.fir:hover, .sec:hover, .thi:hover, .for:hover, .fif:hover, .six:hover{
        opacity: 1; /*hover상태일때*/
    }
.item-wrap2{
    margin: 0 80px;
    width: 300px;      
    /* margin-left: 300px; */
    display: inline-block;
  }

table.type5 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px 10px;
}
table.type5 tbody th {
  width: 150px;
  padding: 10px;
}
table.type5 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}
table.type5 .even {
  background: #eaf1ff;
}
.item-wrap .item{
    display: inline-block; 
    width: 23%; /*100% */
    justify-content: center;
    font-size:10px;
    padding: 100px 0 100px 0;
}
.item-wrap h2{
    text-align: center;
    padding: 50px 0;
    font-size: 1.5em;
}
.dim {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 100;
}
.layer-popup {
    position: fixed;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 25px;
    background: #fff;
    z-index: 100;
    box-sizing: border-box;
    max-height: 96vh;
    overflow-y: auto;
}

.layer-popup .layer-close {
    width: 41px;
    height: 41px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.layer-popup .layer-close span {
    display: block;
    width: 41px;
    height: 41px;
    font-size: 0;
    transform: rotate(45deg);
}

.layer-popup .layer-close span:before,
.layer-popup .layer-close span:after {
    content: '';
    position: absolute;
    background: #000;
}

.layer-popup .layer-close span:before {
    width: 41px;
    height: 1px;
    top: 20px;
    left: 0;
}

.layer-popup .layer-close span:after {
    width: 1px;
    height: 41px;
    top: 0;
    left: 20px;
}


.layer-login {
    width: 94%;
    max-width: 470px;
    padding: 25px 40px;
}

.layer-login .layer-header {
    padding: 60px 0;
}

.layer-login .layer-header .logo {
    display: block;
    width: 170px;    
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.layer-login .layer-header .logo .img-logo {
    display: block;
    width: 200px;
    height: 70px;
    background:url(./images/logo_03.png) no-repeat;
    text-indent:-9999em;
}

.layer-login .layer-body fieldset div.ipt-row {
    position: relative;
    margin-bottom: 10px;
}

.layer-login .layer-body fieldset input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 36px;
    border-radius: 5px;
}

.layer-login .layer-body fieldset div.ipt-row label {
    position: relative;
}

.layer-login .layer-body fieldset .btn-login {
    height: 80px;
    background: #ccc;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    outline: 0;
    font-size:20px;
    
} 
.layer-login .layer-body fieldset .btn-login:hover {
	background: #f8da07
}

.footer {
    text-align: center;
    height: 60px;
    background-color: #ccc;   
    clear: both;    
    padding:5px;
}
.footer p {
	padding:15px;
	font-size:17px;	
}

